@model EstellaAppCRUD.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.userName, "Username: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userName)
        </dd>

        <dt>
            @Html.LabelFor(model => model.passWord, "Password: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.passWord)
        </dd>
    </dl>
</div>
<p  class="col-md-offset-1">
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
