@model EstellaAppCRUD.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal col-md-offset-4 col-md-pull-1", style="align-items:center">
        <dt>
            @Html.DisplayNameFor(model => model.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.passWord)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.passWord)
        </dd>

    </dl>
</div>
<p class="col-md-offset-5 col-md-pull-10">
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
